body {

  overflow-y: scroll;

  background: $secondary;

  scroll-behavior: smooth;

  b {
    font-weight: 600 !important;
  }

  p {
    hyphens: auto;
  }


  a{
    text-decoration: none;
  }

  ul{
    padding: 0;
    list-style: none;
  }

  h1, h2 {

    padding-bottom:0.5rem;
    @include media-breakpoint-up(md) {
      padding-bottom: 2rem;
    }
  }

  h3 {
    color: $headline
  }


}

