{% load custom_tags %}
{% load wagtailimages_tags static %}

<div class="container-fluid">
    <div class="container">
        <div class="row mt-7 mt-sm-9 mt-md-10  pb-lg-10 justify-content-end pe-lg-10">
            <nav class="navbar navbar-expand-xl py-0">
                <div class="container-fluid justify-content-end pe-5 pt-lg-0 pe-lg-0">
                    <button id="offcanvasButton" class="navbar-toggler d-flex d-xl-none" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                            aria-controls="offcanvasExample">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" fill="currentColor"
                             class="bi bi-list" viewBox="0 0 16 16">
                            <path fill="#66FCF1"
                                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </button>

                    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasExample"
                         aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header justify-content-end ">
                            <a id="closecanvas_btn" class="pt-5 pe-3" type="button" data-bs-dismiss="offcanvas"
                               aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill=" #66FCF1"
                                     class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                </svg>
                            </a>
                        </div>
                        <div class="offcanvas-body py-0 d-flex flex-column justify-content-center flex-xl-row justify-content-xl-end ps-3">
                            <ul class="navbar-nav  col-xxl-6 col-xl-7  d-flex justify-content-xl-end gap-xl-5 gap-4 pb-10 mb-10 ">

                                {% for block in page.body %}
                                    {% if block.value.in_menu %}
                                        <li class="nav-item navigation-item py-3 ">
                                            <a class="py-0 nav-link text-headline fs-2 fw-regular"
                                               href="#bl{{ block.id }}">{{ block.value.menu_title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                             <li class="nav-item navigation-item py-3 pe-3">
                                    <a class="py-0 nav-link text-headline fs-2 fw-regular" aria-label="me" href="#top">
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                             width="40" height="40"
                                             viewBox="0 0 240 240"
                                             preserveAspectRatio="xMidYMid meet"
                                             class=" h-100">
                                            <metadata>
                                                Created by potrace 1.10, written by Peter Selinger 2001-2011
                                            </metadata>
                                            <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)"
                                               fill="#66FCF1" stroke="#66FCF1" >
                                                <path d="M492 1913 c-48 -361 -64 -478 -86 -624 -14 -91 -32 -223 -41 -295
                                                -32 -259 -60 -342 -136 -407 -23 -20 -61 -44 -85 -54 -24 -10 -42 -23 -40 -29
                                                2 -6 19 -71 36 -145 18 -74 34 -135 35 -137 6 -7 205 82 265 118 70 42 163
                                                129 206 193 60 89 96 202 113 352 6 50 26 203 46 340 19 138 51 365 71 505 20
                                                140 38 258 41 262 2 5 -90 8 -204 8 l-209 0 -12 -87z m376 14 c3 -32 -6 -100
                                                -32 -257 -10 -55 -25 -168 -31 -220 -11 -103 -16 -145 -35 -270 -11 -69 -29
                                                -192 -40 -275 -12 -82 -32 -181 -45 -218 -48 -138 -151 -259 -279 -329 -89
                                                -48 -179 -85 -197 -81 -18 4 -46 90 -56 171 l-5 49 48 31 c64 40 74 50 107 93
                                                27 35 43 75 53 129 2 14 9 45 14 70 9 43 22 140 36 265 3 33 9 62 13 65 3 3 7
                                                28 8 55 2 28 11 104 22 170 11 66 27 183 36 260 24 197 42 304 55 320 9 10 47
                                                13 168 12 l157 -2 3 -38z"/>
                                                <path d="M1080 1988 c0 -7 -15 -119 -34 -248 -57 -387 -156 -1105 -156 -1127
                                                0 -10 47 -13 204 -13 l203 0 7 73 c4 39 23 178 42 307 19 129 36 262 40 295 3
                                                33 9 85 14 115 15 87 58 387 70 480 6 47 13 95 15 108 l5 22 -205 0 c-156 0
                                                -205 -3 -205 -12z m360 -33 c6 -8 9 -27 6 -42 -3 -15 -8 -50 -11 -78 -5 -42
                                                -24 -176 -49 -345 -3 -19 -10 -73 -16 -120 -6 -47 -12 -96 -14 -110 -3 -14 -7
                                                -47 -11 -75 -3 -27 -17 -117 -29 -200 -13 -82 -27 -179 -31 -215 -8 -85 -24
                                                -129 -50 -136 -11 -2 -83 -3 -160 -2 l-140 3 -3 30 c-2 16 1 54 7 85 6 30 13
                                                82 16 115 3 33 19 152 35 265 17 113 40 275 51 360 42 326 65 462 81 471 7 5
                                                79 9 159 9 116 0 149 -3 159 -15z"/>
                                                <path d="M1840 1949 c-19 -28 -44 -63 -56 -77 -27 -35 -336 -469 -358 -504
                                                -19 -29 -27 1 99 -343 100 -272 134 -363 142 -390 l10 -30 231 -3 c128 -1 232
                                                -1 232 1 0 2 -6 17 -14 33 -8 16 -37 85 -66 154 -29 69 -65 154 -80 190 -15
                                                36 -44 106 -65 155 -21 50 -51 120 -66 157 l-29 67 65 88 c36 48 88 117 115
                                                153 27 36 98 130 157 209 60 79 116 154 126 167 l19 24 -214 0 -213 0 -35 -51z
                                                m380 12 c0 -5 -24 -42 -53 -82 -65 -91 -167 -229 -184 -249 -48 -58 -175 -239
                                                -179 -256 -8 -30 1 -72 25 -120 11 -22 23 -52 26 -67 4 -15 11 -30 16 -33 5
                                                -3 9 -14 9 -25 0 -10 5 -19 10 -19 6 0 10 -5 10 -11 0 -12 39 -107 108 -269
                                                21 -46 37 -87 37 -90 0 -3 8 -22 18 -43 32 -66 29 -67 -165 -67 -163 0 -173 1
                                                -195 22 -13 12 -23 28 -23 37 0 8 -13 49 -29 90 -68 177 -102 269 -105 288 -3
                                                11 -9 29 -14 39 -22 40 -82 207 -82 226 0 10 21 49 48 85 26 36 61 85 77 108
                                                17 24 70 99 119 167 49 68 102 142 118 166 16 23 44 58 62 77 l33 35 157 0
                                                c86 0 156 -4 156 -9z"/>
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</div>


{##}