{% load custom_tags %}
{% load wagtailimages_tags static %}

<div class="d-block d-lg-flex justify-content-xl-end align-content-center mt-xl-7 pt-md-5 pb-3 pb-lg-10 z-3 pe-8">
    <ul class="d-block d-xl-flex gap-5">
        {% for block in page.body %}

                {% if block.value.in_menu %}
                    <li class="navigation-item pb-2">
                        <a class="text-headline fs-2 fw-regular" href="#bl{{ block.id }}">{{ block.value.menu_title }}</a>
                    </li>
                {% endif %}

        {% endfor %}
    </ul>

</div>