{% load custom_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<div class="project container-fluid pt-md-5 ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                <h2 class="display-4 pb-4 fw-medium text-headline ps-0">{{ block.value.attention_title }}</h2>
            </div>

            <div class="col-12 col-sm-9 ">

                <p class="fs-4 text-tertiary fw-light ps-0">{{ block.value.description |allow_safe_tags | linebreaksbr }}</p>
            </div>

        </div>
        <div class="row ">
            {% for project in block.value.projects %}
                <div class="col-12 col-xl-4 pt-3">
                    {% include "home/sections/project/project.html" %}
                </div>

            {% endfor %}
        </div>
    </div>

</div>
