{% load custom_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}


<div class="devider container-fluid ">
    <div class="container">
        <div class="row">
            <div id="" class="d-flex justify-content-center">
                <h2 class="display-4 fw-medium text-secondary">{{ block.value.attention_title }}</h2>
            </div>
        </div>
        <div class="row justify-content-center">

                <ul class="d-flex gap-5 justify-content-center" id="scroll-container">
                    {% for skill in skills %}
                        <li class="d-inline-block skill ">
                            {% if skill.image %}
                            <div class="text-center my-3">
                                {% image skill.image min-46x60 as img %}
                                <img src="{{ img.url }}" alt="{{ skill.title }}">
                            </div>
                            {% endif %}
                            <p class="fs-3 mb-0 text-secondary fw-medium">{{ skill.title }}</p>
                        </li>
                    {% endfor %}
                </ul>


        </div>
    </div>

</div>