{% load custom_tags %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}


<div class="introduction container-fluid py-md-5">
    <div class="container">
        <div class="row justify-content-xl-between gap-5 justify-content-center">
            <div class="col-12 col-xl-6 d-flex flex-column ">
                <h2 class=" pb-4 display-4 fw-medium text-headline">{{ block.value.greeting }}</h2>
                <p class="fs-4 text-tertiary fw-lighter text-justify">{{ block.value.introduction_text |allow_safe_tags | linebreaksbr }}</p>
            </div>

            <div class="col-6 col-xl-4 pt-xl-9 me-xl-10 h-75 d-flex justify-content-center" >
                {% image block.value.personal_image min-1831x1309 as img %}
                <img src="{{ img.url }}"
                     width="{{ img.width }}"
                     height="{{ img.height }}"
                     alt="{{ img.alt }}" class="w-100 h-100 object-fit-contain"/>
            </div>

        </div>
    </div>


</div>