{% load custom_tags %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}


<div class="introduction container-fluid py-3">
    <div class="container">
        <div class="row justify-content-lg-around justify-content-center">
            <div class="col-12 col-xl-5 d-flex flex-column justify-content-center">
                <h2 class="pt-5 pb-4 display-6 fw-medium text-headline">{{ block.value.greeting }}</h2>
                <p class="fs-4 text-tertiary fw-lighter text-justify">{{ block.value.introduction_text |allow_safe_tags | linebreaksbr }}</p>
            </div>
            <div class="col-6  col-md-5">
                {% image block.value.personal_image min-1831x1309 as img %}
                <img src="{{ img.url }}"
                     width="{{ img.width }}"
                     height="{{ img.height }}"
                     alt="{{ img.alt }}" class="h-100 w-100 object-fit-contain"/>
            </div>

        </div>
    </div>


</div>