{% load wagtailimages_tags static %}


<section>
    {% image page.landing_image min-3840x2160 as img %}
    <div id="landing" class="container-fluid">
        <div class="card h-100 landing_image justify-content-center" style="background-image: url('{{ img.url }}');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;">


            <div class="container  d-flex justify-content-end">

                <div class="row align-items-center">

                    <div class="col-12 col-xl-8 d-flex flex-column justify-content-center">
                        <div class="pt-xl-10">
                            <h1 class="mb-3 fs-1 text-white">{{ page.landing_title }}</h1>
                            <h2>{{ page.catcher }}</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>