{% load custom_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}


<div class="motivation container-fluid px-md-0">

    <div class="container">
        <div class="row ">
            <div class="col-12 ps-md-0 ">
                 <h2 class="display-4 fw-medium text-secondary">{{ block.value.attention_title }}</h2>
            </div>
        </div>

        <div class="row align-content-around justify-content-center h-50">


            {% for quote in block.value.quotes %}
                <div class="quote_block col-12 col-md-10 col-lg-8 col-xl-6 position-relative">
                    {% image quote.value.image min-256x256 as img %}
                    <img src="{{ img.url }}"  alt="{{ img.alt }}" class="h-75 "/>
                    <div class="caption ">
                        <p class="quote text-secondary mb-1 fs-2 fw-medium ">{{ quote.value.quote_text }}</p>
                        <p class="ps-10 fs-4 text-secondary fw-regular">-&nbsp;{{ quote.value.author }}&nbsp;-</p>
                    </div>

                </div>



            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 text-center">
                    <p class="fs-4 fw-medium mb-0">{{ block.value.final_words| allow_safe_tags |linebreaksbr }}</p>
                </div>
        </div>

    </div>



</div>


