{% load custom_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}


<section class="container-fluid">

    <div id="landing" class="container">
        <div class="card h-100 " >


            <div class="container  d-flex justify-content-end">

                <div class="row align-items-center">

                    {% for quote in block.value.quotes %}
                        <div class="col-3">
                        {% image quote.value.image min-3840x2160 as img %}
                                <img src="{{ img.url }}" width="{{ img.width }}"
                                height="{{ img.height }}" alt="{{ img.alt }}" class="w-100 h-100" />
                            </div>
                        <p>{{ quote.value.quote_text }}</p>
                        <h1>-{{ quote.value.author }}-</h1>
                    {% endfor %}


                    <div class="col-9">
                        <p>{{ block.value.final_words|allow_safe_tags }}</p>
                    </div>

                    </div>

                </div>
            </div>
        </div>

</section>