// Create your own map
$custom-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary":  $tertiary,
  "headline": $headline,
  "highlight": $highlight,
);


$custom_spacers: (
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 5,
  10: $spacer * 6,
);

$custom-max-widths: (
  sm: 550px,
  md: 600px,
  lg: 800px,
  xl: 1350px,
  xxl: 1500px
);


// Merge the maps
$container-max-widths: map-merge($container-max-widths, $custom-max-widths);
$theme-colors: map-merge($theme-colors, $custom-colors);
$spacers: map-merge($spacers, $custom_spacers);