
// custom colors

$primary: #0B0C10;
$secondary: #1F2833;
$tertiary: #C5C6C7;
$background: #66FCF1;
$highlight: #45A29E;

// project_font
$font-family-base: Fira Sans Condensed, sans-serif;


// font-weights:
$font-weight-light:           200;
$font-weight-normal:          400;
$font-weight-medium:          600;
$font-weight-bold:            900;



