{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container bg-background">
    <div class="row text-center">


            <p class="display-1 fw-medium text-bg-tertiary">{{ page.title }}</p>

            <button type="button"
    class="btn btn-highlight mt-10">Custom_Highlight_Button</button>




    </div>
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus expedita facilis incidunt mollitia soluta. Iste iusto nulla suscipit tempora voluptates. Alias at corporis dolorum, hic iste maxime officiis repellendus. Enim.</p>
    </div>
</div>


{% endblock content %}
