{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}



{% block content %}
    <div id="navigation" class=" nav-position fixed-top top-0 w-100">
        {% include 'base_components/navigation.html' %}
    </div>

    {% for block in page.body %}
        <section id="bl{{ block.id }}" class=" {% cycle 'bg-transparent' 'bg-tertiary' %} {% if not forloop.first  %} py-7 {% endif %}">
            {% include_block block %}
        </section>
    {% endfor %}

{% endblock content %}


