.landing {
  height:85vh;
  min-height:500px;

  .image-container {
    width: 300px; /* Breite des Kreises */
    height: 300px; /* Höhe des Kreises */
    overflow: hidden;
    border-radius: 50%; /* Kreisform */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image-circle {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Bild anpassen */
    object-position: center ; /* Fokus auf die Mitte setzen */
}

  svg {
    width: 30px;
    height: 30px;
    @include media-breakpoint-up(lg) {
      width: 46px;
      height: 46px;
    }
  }

  .row {
    border: 1px solid $tertiary;
    border-radius: 8px;
    box-shadow: inset 0 0 8px $highlight;
    @include media-breakpoint-up(xl) {
      border: none;
      box-shadow: none;

    }
  }

  #greeting {
    border: none;
    box-shadow: none;

    @include media-breakpoint-up(xl) {
      border: 1px solid $tertiary;
      border-radius: 8px;
      box-shadow: inset 0 0 12px $highlight;

    }
  }




}


