#motivation {

  .motivation-caption{
    position: relative;
    left: 5%;
    bottom: 45%;
    text-align: center;


    @include media-breakpoint-up(xl) {
      left: 50%;
      text-align: start;
    }

    .quote {
      width: 90%;

      @include media-breakpoint-up(lg) {
        width: 75%;
      }
    }

  }
}