.project-item {



  .carousel-inner {
    border-radius: 4px !important;
    border: 1px solid $tertiary;
  }

  .nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
    border-bottom-color: $highlight;
}
  //.tech-stack {
  //  @include media-breakpoint-up(lg) {
  //    height: 200px;
  //  }
  //
  //}

  .project-description{
    @include media-breakpoint-up(xl) {
      height:280px;
    }
  }

  .project-description p a{
    color: $tertiary;
    font-weight: 400;
  }

  .skill-img {
    filter: drop-shadow(0 0 0.06rem $tertiary);
    height: 80%;
    width: 80%;
    @include media-breakpoint-up(md) {
      height: 90%;
      width: 90%;
    }
  }


  span {
    line-height: 0;
  }
}
