.carousel-inner {


  border-radius: 12px;

  .carousel-item {
    height: 70vh;
    max-height: 35rem;
    @include media-breakpoint-up(md) {
      height: 80vh;
      max-height: 43.75rem;
    }

    img {

      height: 35%;
      @include media-breakpoint-up(sm) {
        height: 40%;
      }



      @include media-breakpoint-up(lg) {
        height: 37%;
      }
      @include media-breakpoint-up(xl) {
        height: 46%;
      }


    }


    .skill-img {
      height: 80%;
      width: 80%;
      @include media-breakpoint-up(md) {
        height: 90%;
        width: 90%;
      }

    }
  }
}